In [21]:
import pandas as pd 


airports = pd.read_csv('airport_codes.csv')

airports.type.unique()

airports.head()

,Unnamed: 0,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,0,00A,heliport,Total Rf Heliport,11.0,NaN,US,US-PA,Bensalem,00A,NaN,00A,"-74.93360137939453, 40.07080078125"
1,1,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,2,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,3,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
4,4,00AR,closed,Newport Hospital & Clinic Heliport,237.0,NaN,US,US-AR,Newport,NaN,NaN,NaN,"-91.254898, 35.6087"

In [27]:
values_to_drop = ['balloonport', 'heliport', 'seaplane_base', 'closed']

# Using boolean indexing to filter rows
df_filtered = airports[~airports['type'].isin(values_to_drop)]

df_filtered['Unnamed: 0'] = df_filtered['Unnamed: 0'] -1

df_filtered = df_filtered.rename(columns={'Unnamed: 0': ''})



# If you want to modify the original DataFrame in place, you can use the inplace parameter
# df.drop(df[df['type'].isin(values_to_drop)].index, inplace=True)
# Display the resulting DataFrame
df_filtered.type.unique()
df_filtered.head()

/var/folders/8q/56bmwv1j2xl8qm_lrgpdk_540000gn/T/ipykernel_10495/2792363776.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['Unnamed: 0'] = df_filtered['Unnamed: 0'] -1

,,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
1,0,00AA,small_airport,Aero B Ranch Airport,3435.0,NaN,US,US-KS,Leoti,00AA,NaN,00AA,"-101.473911, 38.704022"
2,1,00AK,small_airport,Lowell Field,450.0,NaN,US,US-AK,Anchor Point,00AK,NaN,00AK,"-151.695999146, 59.94919968"
3,2,00AL,small_airport,Epps Airpark,820.0,NaN,US,US-AL,Harvest,00AL,NaN,00AL,"-86.77030181884766, 34.86479949951172"
5,4,00AS,small_airport,Fulton Airport,1100.0,NaN,US,US-OK,Alex,00AS,NaN,00AS,"-97.8180194, 34.9428028"
6,5,00AZ,small_airport,Cordes Airport,3810.0,NaN,US,US-AZ,Cordes,00AZ,NaN,00AZ,"-112.16500091552734, 34.305599212646484"

In [28]:
df_filtered.to_csv('airportCodesTypeFiltered.csv', index=False)